<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JamRoom</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.svg') }}"
      type="image/x-icon"
    />
  </head>
  <body class="dark-theme">
    <header class="main-header">
      <div class="spotify-status">
        {% if user and user.spotify_access_token %}
          <form action="{{ url_for('spotify_disconnect') }}" method="post">
            <button type="submit" class="disconnect-spotify-btn spotify-btn">Disconnect Spotify</button>
          </form>
        {% else %}
          <a href="{{ url_for('spotify_login') }}">
              <button class="connect-spotify-btn spotify-btn">Connect to Spotify</button>
          </a>
        {% endif %}
      </div>
      <div class="logo-container">
        <img
          src="{{ url_for('static', filename='Jam-Room.png') }}"
          alt="JamRoom Logo"
          class="logo"
        />
      </div>
      <div>
        <form action="/logout" method="post">
          <button type="submit" class="logout-btn">Logout</button>
        </form>
      </div>
    </header>

    <main class="main-content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              {% if "Spotify" not in message %}
                <div class="flash {{ category }}">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <section class="section">
        <div class="public-rooms-container">
            <div class="rooms-scroll-wrapper">
                <div class="rooms-row" id="public-rooms-row">
                    </div>
            </div>
        </div>
      </section>

      <section class="section">
        <h2>Create a Public JamRoom</h2>
        <form id="create-public-room-form" method="post" action="/create-public-room">
          <div class="private-room-actions">
            <input
              type="text"
              name="room_name"
              placeholder="Enter room name"
              class="room-input"
              required
            />
            <button type="submit" class="create-btn">Create</button>
          </div>
        </form>
      </section>

      <section class="section">
        <h2>Join a Private JamRoom</h2>
        <form id="join-room-form" method="post" action="/join-room">
          <div class="private-room-actions">
            <input
              type="text"
              name="room_key"
              placeholder="Room code"
              class="room-input"
              required
            />
            <button type="submit" class="join-btn">Join</button>
          </div>
        </form>
      </section>

      <section class="section">
        <h2>Create a Private JamRoom</h2>
        <form id="create-private-room-form" method="post" action="/create-room">
          <div class="private-room-actions">
            <input
              type="text"
              name="room_name"
              placeholder="Enter room name"
              class="room-input"
              required
            />
            <button type="submit" class="create-btn">Create</button>
          </div>
        </form>
      </section>
    </main>

    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
  </body>
</html>