<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JamRoom</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='music_1.svg') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h1>Welcome to JamRoom</h1>
    <h2>Hello {{ user }}</h2>
    <div class="container-card">
      <form action="/logout" method="post">
        <button type="submit" class="login-button">Logout</button>
      </form>
    </div>

    <div class="public-rooms-section">
      <h2>Public Rooms</h2>
      <div class="rooms-container" id="public-rooms-container"></div>
    </div>

    <div class="room-actions-section">
      <h2>Create or Join a Room</h2>

      <form action="/create-room" method="post">
        <h3>Create a New Room</h3>
        <input
          type="text"
          name="room_name"
          placeholder="Enter a room name"
          required
        />
        <button type="submit">Create Room</button>
      </form>

      <form action="/join-room" method="post">
        <h3>Join a Private Room</h3>
        <input
          type="text"
          name="room_key"
          placeholder="Enter a room code"
          required
        />
        <button type="submit">Join Room</button>
      </form>
    </div>

    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
  </body>
</html>
